nav {
    color: white;
    background-color: rgb(27, 25, 24);

}

nav a {
    color: white;
    text-decoration: none;
    justify-items: left;
    
}

header {
    display: flex;
    padding: 2rem;
    background-color: #F29A1F;
    justify-content: center;
    color: white;


.menu {
display: center;
}

.menu-grupo {
    display: flex;
    padding: 1rem;
justify-content: center;
text-align: left;
}

.menu-item{
justify-content: center;
text-align: right;
}
